
::ng-deep {
	//noinspection ALL
	.mat-step-header {
		//noinspection ALL
		.mat-step-icon-state-done {
			background-color: #338074;
		}

		//noinspection ALL
		.mat-step-icon-selected,
		.mat-step-icon-state-edit {
			background-color: #426dae;
		}
	}
	button {
		margin: 1em .2em .5em .2em !important;
	}

	//noinspection ALL
	.mat-raised-button.mat-primary {
		background-color: #338074;
		//noinspection ALL
		&.back {
			background-color: #426dae;
		}
	}

	//noinspection ALL
	.mat-flat-button.mat-primary {
		background-color: transparent;
		color: #000;
	}

	//noinspection ALL
	.mat-horizontal-content-container {
		padding: 0 24px 0 24px !important;
	}
}
